body {
    background-color: #F2F4F4;
}

header {
    box-shadow: 0 0 6px 0 #CFD5D9;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 240px;
    height: 40px;
    transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 0;
    /* border-bottom: solid 1px #CFD5D9; */

    .profile {
        float: left;
        margin: 0 0 0 30px;
        direction: ltr;
        cursor: pointer;

        img {
            width: 32px;
            height: 32px;
            margin-top: 4px;
            border-radius: 50%;
            vertical-align: middle;
        }

        .info {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            margin-top: 6px;

            .name {
                color: #717E8E;
                font-size: 12px;
                line-height: 10px;
            }

            .more {
                font-size: 10px;
                color: #CFD5D9;
            }
        }
    }

    .btns {
        float: right;
        margin-right: 30px;
        margin-top: 2px;
        font-size: 20px;
        color: #717E8E;
        cursor: pointer;
    }
}

main {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 240px;
    transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    padding: 10px 10px;
    overflow-y: scroll;
    z-index: -1;
}

main.collapsed_nav, header.collapsed_nav {
    right: 45px;
}

section {
    box-shadow: 0 0 6px 0 #CFD5D9;
    background-color: white;
    padding: 20px;
    /* min-height: 86vh; */
    border-radius: 8px;
    margin-top: 20px;
}

