@charset "UTF-8";

@font-face {
  font-family: "oschool-icons";
  src: url("/fonts/oschool-icons.otf");
}

i {
  font-family: "oschool-icons";
  font-style: normal;
}

i.calendar::before {
  content: "\F020";
}

i.clock::before {
  content: "\F021";
}

i.down-arrow::before {
  content: "\F022";
}

i.up-arrow::before {
  content: "\F023";
}

i.right-arrow::before {
  content: "\F024";
}

i.left-arrow::before {
  content: "\F025";
}

i.right-arrow2::before {
  content: "\F028";
}

i.left-arrow2::before {
  content: "\F029";
}

i.right-arrow3::before {
  content: "\F026";
}

i.left-arrow3::before {
  content: "\F027";
}

i.int::before {
  content: "\F02A";
}

i.float::before {
  content: "\F02B";
}

i.check::before {
  content: "\F02C";
}

i.password::before {
  content: "\F02D";
}

i.delete::before {
  content: "\F02E";
}

i.edit::before {
  content: "\F02F";
}

i.educational::before {
  content: "\F030";
}

i.official::before {
  content: "\F031";
}

i.cultural::before {
  content: "\F032";
}

i.communication::before {
  content: "\F033";
}

i.services::before {
  content: "\F034";
}

i.human_resource::before {
  content: "\F035";
}

i.substructure::before {
  content: "\F036";
}

i.document::before {
  content: "\F037";
}

i.more::before {
  content: "\F038";
}

