@font-face {
  font-family: "iran-yekan";
  src: url("/fonts/fontiran/IRANYekanRegular.ttf");
}

* {
  box-sizing: border-box;
  direction: rtl;
  font-family: "iran-yekan";
  color: #717E8E;
}

/* width */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #CFD5D9;
  border-radius: 3px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #5789E9;
}

div.os-input > label {
  color: #CFD5D9;
  font-size: 10px;
}

div.os-input div.input {
  display: -webkit-box;
  display: flex;
  border: 1px solid #CFD5D9;
  border-radius: 18px;
  padding: 0 5px;
  height: 38px;
  min-width: 150px;
  background-color: white;
}

div.os-input div.input span.icon {
  display: inline-block;
  border-left: solid 1px #CFD5D9;
  width: 32px;
  -webkit-box-flex: 0;
          flex: 0 0 32px;
  text-align: center;
  color: #CFD5D9;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  margin-right: -5px;
  padding-right: 3px;
}

div.os-input div.input span.icon i {
  font-size: 24px;
  color: inherit;
}

div.os-input div.input span.icon.selectable {
  cursor: pointer;
}

div.os-input div.input input {
  border: none;
  -webkit-box-flex: 1;
          flex-grow: 1;
  min-width: 100px;
  margin: 0 10px 0 10px;
  font-size: 14px;
  padding: 0;
}

div.os-input div.input input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFD5D9;
  opacity: 1;
  /* Firefox */
}

div.os-input div.input input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFD5D9;
  opacity: 1;
  /* Firefox */
}

div.os-input div.input input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFD5D9;
  opacity: 1;
  /* Firefox */
}

div.os-input div.input input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFD5D9;
  opacity: 1;
  /* Firefox */
}

div.os-input div.input input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFD5D9;
  opacity: 1;
  /* Firefox */
}

div.os-input div.input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #CFD5D9;
}

div.os-input div.input input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #CFD5D9;
}

div.os-input div.input input:focus {
  outline: none;
  box-shadow: none;
}

div.os-input div.input > span.unit {
  display: inline-block;
  font-size: 0.6em;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  color: #CFD5D9;
  margin-left: 10px;
}

div.os-input.focus div.input {
  border-color: #5789E9;
}

div.os-input.focus div.input span.icon {
  color: #5789E9;
  border-left-color: #5789E9;
}

div.os-input.int .input input {
  direction: ltr;
  text-align: right;
}

div.os-input.float .input input {
  direction: ltr;
  text-align: right;
}

div.os-input.password .input input {
  direction: ltr;
  text-align: right;
}

div.os-input.time .input {
  height: 44px;
  border-radius: 22px;
}

div.os-input.time .input .icon {
  height: 42px;
  line-height: 42px;
}

div.os-input.time .input .input-parts {
  direction: ltr;
  text-align: right;
  display: -webkit-box;
  display: flex;
}

div.os-input.time .input .input-parts .unit {
  font-size: 10px;
  text-align: center;
  color: #CFD5D9;
  margin-bottom: -5px;
}

div.os-input.time .input .input-parts .dot {
  margin-top: 12px;
}

div.os-input.time .input .input-parts input {
  min-width: 30px;
  width: 30px;
  padding: 0;
  text-align: center;
  margin: 0 1px;
}

div.os-input div.menu {
  height: auto;
  background-color: white;
  position: absolute;
  border-radius: 19px;
  border: solid 1px #CFD5D9;
  box-shadow: 0 0 6px 0 #CFD5D9;
  margin-top: 5px;
  z-index: 100;
  width: 260px;
  height: 260px;
  max-height: unset;
}

div.os-input div.menu.date div.controls {
  border-bottom: 1px solid #CFD5D9;
  height: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 10px;
}

div.os-input div.menu.date div.controls div.right span.btn,
div.os-input div.menu.date div.controls div.left span.btn {
  background-color: #CFD5D9;
  font-size: 10px;
  border: none;
  display: block;
  width: 40px;
  height: 18px;
  line-height: 18px;
  border-radius: 9px;
  margin: 2px 0;
  text-align: center;
  cursor: pointer;
}

div.os-input div.menu.date div.controls div.right span.btn.active,
div.os-input div.menu.date div.controls div.left span.btn.active {
  background-color: #5789E9;
  color: white;
}

div.os-input div.menu.date div.controls div.center {
  -webkit-box-flex: 1;
          flex-grow: 1;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
}

div.os-input div.menu.date div.controls div.center .gregorian {
  direction: ltr;
}

div.os-input div.menu.date div.controls .pre-month,
div.os-input div.menu.date div.controls .pre-year,
div.os-input div.menu.date div.controls .next-month,
div.os-input div.menu.date div.controls .next-year {
  margin: 0 1px;
  cursor: pointer;
}

div.os-input div.menu.date div.dates {
  text-align: center;
  padding: 10px;
}

div.os-input div.menu.date div.dates table {
  margin: auto;
  width: 100%;
}

div.os-input div.menu.date div.dates table th {
  font-size: 9px;
  width: 46px;
}

div.os-input div.menu.date div.dates table td {
  font-size: 12px;
  width: 46px;
  padding: 0;
}

div.os-input div.menu.date div.dates table td.outer {
  color: #CFD5D9;
}

div.os-input div.menu.date div.dates table td.outer div.day {
  cursor: default;
}

div.os-input div.menu.date div.dates table td.outer div.day:hover {
  background-color: white;
}

div.os-input div.menu.date div.dates table td div.day {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}

div.os-input div.menu.date div.dates table td div.day:hover {
  background-color: #F2F4F4;
}

div.os-input div.menu.date div.dates table td div.day.active {
  background-color: #5789E9;
  color: white;
}

div.os-input div.menu.select {
  width: auto;
  padding: 19px 0;
  max-height: 200px;
  min-width: 150px;
}

div.os-input div.menu.select .items {
  overflow-y: auto;
  max-height: 162px;
}

div.os-input div.menu.select .items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

div.os-input div.menu.select .items ul li {
  padding: 2px 10px;
  cursor: pointer;
}

div.os-input div.menu.select .items ul li:hover {
  background-color: #F2F4F4;
}

div.os-input div.menu.select .items ul li.active {
  background-color: #5789E9;
  color: white;
}

div.os-input div.menu.select .items ul li.active span {
  color: inherit;
}

div.os-input div.menu.select .items ul li.multiple:hover {
  background-color: unset;
}

div.os-input div.menu.select .items ul li.multiple.active {
  background-color: unset;
  color: unset;
}

div.os-input div.menu.select .items ul li .os-checkbox {
  padding: 0;
}

div.os-textarea label {
  color: #CFD5D9;
  font-size: 10px;
}

div.os-textarea div.input {
  display: -webkit-box;
  display: flex;
  border: 1px solid #CFD5D9;
  border-radius: 18px;
  padding: 0 5px;
  min-width: 200px;
  background-color: white;
}

div.os-textarea div.input textarea {
  border: none;
  margin: 5px 10px;
  padding: 0;
  width: 100%;
  font-size: 14px;
  resize: none;
}

div.os-textarea div.input textarea::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFD5D9;
  opacity: 1;
  /* Firefox */
}

div.os-textarea div.input textarea::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFD5D9;
  opacity: 1;
  /* Firefox */
}

div.os-textarea div.input textarea:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFD5D9;
  opacity: 1;
  /* Firefox */
}

div.os-textarea div.input textarea::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFD5D9;
  opacity: 1;
  /* Firefox */
}

div.os-textarea div.input textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFD5D9;
  opacity: 1;
  /* Firefox */
}

div.os-textarea div.input textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #CFD5D9;
}

div.os-textarea div.input textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #CFD5D9;
}

div.os-textarea div.input textarea:focus {
  outline: none;
  box-shadow: none;
}

div.os-textarea.focus div.input {
  border-color: #5789E9;
}

div.os-listbox > label {
  color: #CFD5D9;
  font-size: 10px;
}

div.os-listbox div.list {
  min-width: 150px;
  max-height: 400px;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 19px;
  border: solid 1px #CFD5D9;
  padding: 19px 0;
}

div.os-listbox div.list .items {
  overflow-y: auto;
  max-height: 250px;
}

div.os-listbox div.list .items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

div.os-listbox div.list .items ul li {
  padding: 2px 10px;
  cursor: pointer;
  position: relative;
}

div.os-listbox div.list .items ul li:hover {
  background-color: #F2F4F4;
}

div.os-listbox div.list .items ul li:hover .item-btns {
  display: inline-block;
}

div.os-listbox div.list .items ul li.active {
  background-color: #5789E9;
  color: white;
}

div.os-listbox div.list .items ul li.active span {
  color: inherit;
}

div.os-listbox div.list .items ul li.active .item-btns {
  color: white;
}

div.os-listbox div.list .items ul li.multiple:hover {
  background-color: unset;
}

div.os-listbox div.list .items ul li.multiple.active {
  background-color: unset;
  color: unset;
}

div.os-listbox div.list .items ul li .os-checkbox {
  padding: 0;
}

div.os-listbox div.list .items ul li .item-btns {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 18px;
  margin-left: 6px;
}

div.os-listbox div.list .items ul li .item-btns * {
  color: inherit;
}

div.os-checkbox {
  padding: 10px 0;
}

div.os-checkbox div.checkbox {
  display: inline-block;
  border: solid 1px #CFD5D9;
  width: 24px;
  height: 24px;
  line-height: 22px;
  border-radius: 8px;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
}

div.os-checkbox label {
  vertical-align: middle;
  font-size: 14px;
}

div.os-checkbox input[type=checkbox] {
  display: none;
}

div.os-radio {
  padding: 10px 0;
}

div.os-radio div.radio {
  display: inline-block;
  border: solid 1px #CFD5D9;
  width: 24px;
  height: 24px;
  line-height: 22px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

div.os-radio div.radio div.check {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 5px;
  background-color: #717E8E;
}

div.os-radio label {
  vertical-align: middle;
  font-size: 14px;
}

div.os-radio input[type=radio] {
  display: none;
}

button.os-btn {
  min-width: 70px;
  height: 38px;
  line-height: 36px;
  border-radius: 19px;
  border: none;
  background-color: #5789E9;
  color: white;
  cursor: pointer;
  margin: 10px 0;
}

button.os-btn:focus {
  outline: none;
}

button.os-btn.blue {
  background-color: #5789E9;
}

button.os-btn.red {
  background-color: #FF525C;
}

button.os-btn.orange {
  background-color: #FFAC23;
}

button.os-btn.green {
  background-color: #00DE81;
}

button.os-btn.grey {
  background-color: #717E8E;
}

button.os-btn.white {
  background-color: white;
  border: solid 1px #CFD5D9;
  color: #717E8E;
}

button.os-btn.small {
  height: 22px;
  line-height: 20px;
  min-width: 40px;
  font-size: 10px;
}

button.os-btn.no-margin {
  margin: 0;
}

button.os-btn.no-min-width {
  min-width: unset;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  background-color: white;
  box-shadow: 0 0 6px 0 #CFD5D9;
  overflow-x: hidden;
  white-space: nowrap;
  -webkit-transition: width 0.6s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 0.6s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 0;
  z-index: 1;
}

nav.collapsed {
  width: 45px;
}

nav div.logo {
  margin-top: 10px;
  height: 48px;
}

nav div.logo img {
  width: 48px;
  vertical-align: top;
  margin-right: 14px;
  -webkit-transition: width 0.6s cubic-bezier(0.23, 1, 0.32, 1), margin 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 0.6s cubic-bezier(0.23, 1, 0.32, 1), margin 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

nav div.logo img.collapsed {
  width: 32px;
  margin-right: 7px;
  margin-left: 7px;
}

nav div.logo div.text {
  vertical-align: middle;
  display: inline-block;
}

nav div.logo div.text .brand-fa {
  color: #03a9f4;
}

nav div.logo div.text .brand-en {
  font-size: 10.5px;
  color: #03a9f4;
  word-spacing: 0.1px;
}

nav div.collapse {
  text-align: left;
  margin: 5px 0;
}

nav div.collapse div.collapse-btn,
nav div.collapse div.collapse-btn i {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background-color: #CFD5D9;
  color: white;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 9px;
  text-align: center;
  margin-left: 11px;
}

nav div.tree div.page1 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  top: 96px;
  right: 0;
  left: 0;
}

nav div.tree div.page1.out {
  -webkit-transform: translateX(240px);
          transform: translateX(240px);
}

nav div.tree div.page2 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  top: 96px;
  right: 0;
  left: 0;
  bottom: 0;
}

nav div.tree div.page2.out {
  -webkit-transform: translateX(-240px);
          transform: translateX(-240px);
}

nav div.tree div.page2 .title-bar {
  padding: 0 10px;
}

nav div.tree div.page2 .title-bar .back-btn {
  display: inline-block;
  cursor: pointer;
}

nav div.tree div.page2 .title-bar .back-btn i {
  vertical-align: middle;
  font-size: 28px;
}

nav div.tree div.page2 .title-bar .title {
  display: inline-block;
  margin-right: 6px;
}

nav div.tree div.page2 .under-construction {
  margin-top: 80px;
}

nav div.tree div.page2 .under-construction img,
nav div.tree div.page2 .under-construction .title {
  width: 180px;
  margin-right: 30px;
  text-align: center;
}

nav div.tree ul.l1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav div.tree ul.l1 > li {
  padding: 0;
}

nav div.tree ul.l1 > li > .item {
  cursor: pointer;
  padding: 4px 5px;
}

nav div.tree ul.l1 > li > .item:hover {
  background-color: #F2F4F4;
}

nav div.tree ul.l1 > li > .item > .icon {
  display: inline-block;
  width: 30px;
  text-align: center;
  vertical-align: middle;
}

nav div.tree ul.l1 > li > .item > .icon i {
  font-size: 36px;
}

nav div.tree ul.l1 > li > .item > .title {
  font-size: 18px;
  margin-right: 12px;
  display: inline-block;
  width: 155px;
  vertical-align: middle;
}

nav div.tree ul.l1 > li > .item > .arrow i {
  font-size: 14px;
}

nav div.tree ul.l1 > li ul.l2 {
  list-style: none;
  font-size: 12px;
  padding-right: 0;
  -webkit-transition: height 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: height 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

nav div.tree ul.l1 > li ul.l2 > li {
  padding: 4px 8px;
  cursor: pointer;
}

nav div.tree ul.l1 > li ul.l2 > li:hover {
  background-color: #F2F4F4;
}

nav div.tree ul.l1 > li ul.l2 > li > .icon {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 12px;
}

nav div.tree ul.l1 > li ul.l2 > li > .title {
  margin-right: 6px;
}

nav div.tree ul.l3 {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav div.tree ul.l3 > li {
  padding: 0;
  margin-top: 10px;
}

nav div.tree ul.l3 > li > .item {
  padding: 0 14px;
  font-size: 10px;
  color: #CFD5D9;
  opacity: 1;
  -webkit-transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

nav div.tree ul.l3 > li > .item.collapsed_nav {
  opacity: 0;
}

nav div.tree ul.l3 > li ul.l4 {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav div.tree ul.l3 > li ul.l4 > li .item {
  cursor: pointer;
  padding: 0 10px;
}

nav div.tree ul.l3 > li ul.l4 > li .item:hover {
  background-color: #F2F4F4;
}

nav div.tree ul.l3 > li ul.l4 > li .item > .icon {
  display: inline-block;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

nav div.tree ul.l3 > li ul.l4 > li .item > .icon i {
  font-size: 20px;
}

nav div.tree ul.l3 > li ul.l4 > li .item > .title {
  font-size: 12px;
  margin-right: 6px;
  display: inline-block;
  width: 155px;
  vertical-align: middle;
  height: 25px;
}

div.os-tab .tab-btns ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.os-tab .tab-btns ul li {
  display: inline-block;
  padding: 4px 10px;
  margin-left: 2px;
  border: solid 1px #5789E9;
  border-bottom: none;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: -1px;
  background-color: #5789E9;
  color: white;
}

div.os-tab .tab-btns ul li.active {
  background-color: white;
  border-color: #CFD5D9;
  color: #717E8E;
}

div.os-tab .tab-pages {
  border: solid 1px #CFD5D9;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

div.os-step .page-info div.circle {
  width: 46px;
  height: 46px;
  line-height: 44px;
  border: solid 1px #CFD5D9;
  border-radius: 50%;
  color: #CFD5D9;
  text-align: center;
  font-size: 22px;
  cursor: default;
  display: inline-block;
  vertical-align: middle;
}

div.os-step .page-info div.circle.active {
  background-color: #5789E9;
  border-color: #5789E9;
  color: white;
}

div.os-step .page-info div.title {
  display: inline-block;
  vertical-align: middle;
  color: #CFD5D9;
  font-size: 12px;
  margin-right: 3px;
}

div.os-step .page-info div.title.active {
  color: #717E8E;
}

div.os-step div.rectangle {
  min-height: 30px;
  border-right: solid 2px #CFD5D9;
  margin-right: 22px;
}

div.os-step div.rectangle.no-border {
  border: none;
}

div.os-step div.os-step-page {
  border-radius: 19px;
  min-height: 100px;
  margin-right: 10px;
}

div.os-step.horizental {
  word-spacing: -5px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

div.os-step.horizental .page-info {
  display: inline-block;
  vertical-align: top;
  word-spacing: normal;
  position: relative;
}

div.os-step.horizental .page-info div.title {
  position: absolute;
  right: -50px;
  left: -50px;
  top: 46px;
  font-size: 10px;
  text-align: center;
  margin-right: unset;
}

div.os-step.horizental div.rectangle {
  display: inline-block;
  border-right: none;
  border-top: solid 2px #CFD5D9;
  margin-right: 0;
  min-width: 30px;
  max-width: 150px;
  min-height: 2px;
  vertical-align: top;
  margin-top: 22px;
  word-spacing: normal;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

div.os-step.horizental div.flex-break {
  flex-basis: 100%;
  width: 100%;
  height: 0;
}

div.os-step.horizental div.horizental-content {
  width: 100%;
}

div.os-step.horizental div.horizental-content div.os-step-page {
  word-spacing: normal;
  margin-right: 0;
  margin-top: 20px;
  flex-basis: 100%;
  width: 100%;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

div.os-notification {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
  padding: 10px 10px;
}

div.os-notification ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.os-notification ul li {
  background-color: white;
  box-shadow: 0 0 10px 0 #a2aaaf;
  margin: 10px;
  padding: 10px 10px;
  font-size: 14px;
  border: solid 5px #5789E9;
  border-style: none solid none solid;
  border-radius: 19px;
}

div.os-notification ul li.blue {
  border-color: #5789E9;
}

div.os-notification ul li.red {
  border-color: #FF525C;
}

div.os-notification ul li.green {
  border-color: #00DE81;
}

div.os-notification ul li.orange {
  border-color: #FFAC23;
}

div.os-notification ul li div.close {
  display: inline-block;
  cursor: pointer;
}

div.os-datagrid table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  border: solid 1px #CFD5D9;
}

div.os-datagrid table tr i.more {
  font-size: 24px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

div.os-datagrid table tr i.more:hover {
  background-color: #F2F4F4;
}

div.os-datagrid table td,
div.os-datagrid table th {
  border: solid 1px #CFD5D9;
  border-style: solid none solid none;
  height: 40px;
}

div.os-datagrid table th {
  background-color: #F2F4F4;
}

div.os-dropdown {
  display: inline-block;
}

div.os-dropdown div.button {
  cursor: pointer;
}

div.os-dropdown div.menu {
  height: auto;
  background-color: white;
  position: absolute;
  border-radius: 19px;
  border: solid 1px #CFD5D9;
  box-shadow: 0 0 6px 0 #CFD5D9;
  margin-top: 5px;
  z-index: 100;
  margin-top: 2px;
  padding: 10px 0;
}

div.os-dropdown div.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.os-dropdown div.menu ul li {
  padding: 0 10px;
  cursor: pointer;
}

div.os-dropdown div.menu ul li:hover {
  background-color: #F2F4F4;
}

div.os-dropdown div.menu ul li:first-child {
  border-radius: 5px 5px 0 0;
}

div.os-dropdown div.menu ul li:last-child {
  border-radius: 0 0 5px 5px;
}

div.os-dropdown div.menu ul li i {
  font-size: 20px;
  vertical-align: middle;
}

div.os-dropdown div.menu ul li .title {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}

body {
  background-color: #F2F4F4;
}

header {
  box-shadow: 0 0 6px 0 #CFD5D9;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 240px;
  height: 40px;
  -webkit-transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 0;
  /* border-bottom: solid 1px #CFD5D9; */
}

header .profile {
  float: left;
  margin: 0 0 0 30px;
  direction: ltr;
  cursor: pointer;
}

header .profile img {
  width: 32px;
  height: 32px;
  margin-top: 4px;
  border-radius: 50%;
  vertical-align: middle;
}

header .profile .info {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-top: 6px;
}

header .profile .info .name {
  color: #717E8E;
  font-size: 12px;
  line-height: 10px;
}

header .profile .info .more {
  font-size: 10px;
  color: #CFD5D9;
}

header .btns {
  float: right;
  margin-right: 30px;
  margin-top: 2px;
  font-size: 20px;
  color: #717E8E;
  cursor: pointer;
}

main {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 240px;
  -webkit-transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 10px 10px;
  overflow-y: scroll;
  z-index: -1;
}

main.collapsed_nav,
header.collapsed_nav {
  right: 45px;
}

section {
  box-shadow: 0 0 6px 0 #CFD5D9;
  background-color: white;
  padding: 16px 20px 20px 20px;
  /* min-height: 86vh; */
  border-radius: 8px;
  margin-top: 20px;
}

section h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
}

